<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - Quarto WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Glance - QuartoFrameworkWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Notification - Quarto WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notification - QuartoFrameworkWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>QFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>QFrameworkWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Quarto Share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Quarto WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Quarto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QuartoFramework(Watch).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>QuartoFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>QuartoFrameworkWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SharedQuartoFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SharedQuartoWatchFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F335D0D1B593E9400FF6EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F671B011B31C33200CAB81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F894E0D1B36C08700C45C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F894E1A1B36C10200C45C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F894E241B36C14800C45C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F894E4F1B36C1C400C45C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F894E581B36C1C400C45C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F894E711B36C1E500C45C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB5967C1B35D85F00BED8C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB596851B35D85F00BED8C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB596981B35D89000BED8C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC2AAB61B8E07CE00C4AA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC714C71B300FF600C32093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC714DC1B300FF600C32093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC714F01B30100D00C32093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC714FF1B30100E00C32093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC7151A1B30105E00C32093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FC715241B30105E00C32093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
